*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu {
    border-bottom: 0.1px solid;
    height: 30px;
    background: whitesmoke;
}

.menu-options {
    border-bottom: 0.1px solid;
    height: 60px;
    background: whitesmoke;
}

.addres-content {
    border-bottom: 0.1px solid;
    height: 30px;
    background: whitesmoke;
}

.cells-content {
    height: calc( 100vh - 150px);
    background: white;
    overflow: auto;
}

.sheets {
    border-top: 0.1px solid;
    height: 30px;
    background:whitesmoke;
}

.row {
    display: flex;
}

.cell {
    border-left: 0.1px solid;
    border-bottom: 0.1px solid;
    min-height: 30px;
    min-width: 70px;
}