:root {
    --border-color: #EFF0EF;
    --cell-background: #F5F6F5;
    --active-cell: #2ecc71;
    --cell-selected: #E5E6E5;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
}

.menu {
    border-bottom: 0.1px solid;
    height: 30px;
    background: whitesmoke;
    display: flex;
    align-items: center;

}

.menu-options {
    border-bottom: 0.1px solid var(--border-color);;
    height: 40px;
    background: whitesmoke;
}

.addres-content {
    /* border-bottom: 0.1px solid; */
    height: 20px;
    display: flex;
    /* background: whitesmoke; */
}

.cells-content {
    height: calc( 100vh - 90px);
    overflow: auto;
    position: relative;
    border-top: 0.1px solid var(--border-color);
}

.sheets {
    display: flex;
    border-top: 0.1px solid;
    height: 30px;
    background:whitesmoke;
    align-items: center;
}

.row {
    display: flex;
}

.cell {
    border-left: 0.1px solid var(--border-color);
    border-top: 0.1px solid var(--border-color);
    min-height: 20px;
    min-width: 90px;
    max-width: 70px;
    outline: none;
}

.top-left-cell{
    border-right: 0px solid;
    height: 20px;
    width: 40px;
    background: var(--cell-background);
    position: absolute;
    z-index: 3;
    border-bottom: 1px solid var(--border-color);
}

.top-row{
    display: flex;
    position: absolute;
    background: var(--cell-background);
    top: 0px;
    left:40px;
    z-index: 2;
}

.top-row-cell{
    border-left: 0.1px solid;
    min-height: 20px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid var(--border-color);
    border-left: 0.1px solid var(--border-color);

}

.left-col{
    background:  var(--cell-background);
    position: absolute;
    top: 20px;
    z-index: 2;
}

.left-col-cell{
    height: 20px;
    width: 40px;
    /* border-top: 0.1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.cells{
    position: absolute;
    top: 20px;
    left: 40px;
}

.add-sheet{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .5px solid lightgrey;
}

.add-sheet .fas{
    color:#2ecc71;;
}

.sheets-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.sheet{
    border-right: .5px solid lightgrey;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    cursor:pointer;
}

.active-sheet{
    background-color: white;
    font-weight:bold;
}

.menu div {
    width: 60px;
    /* background: aquamarine; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    cursor: pointer;
}

.file {
}

.home {
}

.file-menu-options {
}

.home-menu-options {
    display: flex;
    align-items: center;
    height: 100%;
}

.active-menu {
    background: white;
    font-weight: bold;
}

.hide {
    display: none;
}

.font-style {
    display: flex;
    width: 150px;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid lightgray;
}

.font-style div {
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.font-style div:hover {
    background: #bdc3c7;
    opacity: 0.5;
}



.font-style div .fas {
}

.font-size{
    width: 200px;
    height: 60%;
}

.font-size select{
    background: var(--cell-background);
    outline: none;
    border-radius: 4px;
    height: 100%;
}

.font-type{
    width: 130px;
    
}

.font-text-size{
    width: 45px;
}

.active-font-style {
    background: #bdc3c7;
}

#address{
    width: 50px;
    border: none;
    text-align: center;
}

#formula{
    width: 100%;
    border: none;
    outline: none;
    border-left: .1px solid var(--border-color);
    padding: 5px
}

.active-cell{
    border: 2px solid var(--active-cell);
}

.cell-selected{
    background: #E5E6E5;
}