*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.video-container{
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

video{
    height: 100%;
    width: 100%;
}

.media-controls{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 25%;
    display: flex;
    right: 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.media-controls>div{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 8px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoomInOut{
    flex-direction: column;
    height: 60px !important;
    border-radius:0 !important;
    border:none !important;
    justify-content: space-between !important;
}

.zoomInOut div{
    background: white;
    height: 35%;
    width: 40%;
    border-radius: 2px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
}

.record-video-animate{
    background: red;
    height: 70%;
    width: 70%;
    border: 50%;
}

.capture-photo-animate{
    background:white;
    height: 70%;
    width: 70%;
    border-radius: 50%;
}


.record-animate{
    animation: scaleUpDown 1s infinite;
}

.capture-animate{
    animation:scaleUpDown 1s 1;
}

#gallery-btn{
    position: absolute;
    top:85%;
    left: 90%;
    background: black;
    color: white;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: 5px solid;

}

@keyframes scaleUpDown{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}







